@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald:wght@400;500;700&display=swap");
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f6f6f6;
  position: relative;
  width: 100vw;
  height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}
a:focus {
  outline: none;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 4rem;
  max-width: 50rem;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
  max-width: 40rem;
}

a {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.container-white {
  background-color: #fff;
}

.container,
.header {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(-webkit-min-content, 1520px) minmax(20px, 1fr);
  grid-template-columns: minmax(20px, 1fr) minmax(min-content, 1520px) minmax(20px, 1fr);
}
@media only screen and (min-width: 475px) {
  .container,
.header {
    grid-template-columns: minmax(30px, 1fr) minmax(-webkit-min-content, 1520px) minmax(30px, 1fr);
    grid-template-columns: minmax(30px, 1fr) minmax(min-content, 1520px) minmax(30px, 1fr);
  }
}
@media only screen and (min-width: 700px) {
  .container,
.header {
    grid-template-columns: minmax(50px, 1fr) minmax(-webkit-min-content, 1520px) minmax(50px, 1fr);
    grid-template-columns: minmax(50px, 1fr) minmax(min-content, 1520px) minmax(50px, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  .container,
.header {
    grid-template-columns: minmax(70px, 1fr) minmax(-webkit-min-content, 1520px) minmax(70px, 1fr);
    grid-template-columns: minmax(70px, 1fr) minmax(min-content, 1520px) minmax(70px, 1fr);
  }
}
@media only screen and (min-width: 1250px) {
  .container,
.header {
    grid-template-columns: minmax(130px, 1fr) minmax(-webkit-min-content, 1520px) minmax(130px, 1fr);
    grid-template-columns: minmax(130px, 1fr) minmax(min-content, 1520px) minmax(130px, 1fr);
  }
}
.container__content,
.header__content {
  grid-column: 2/3;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 800px) {
  .footer__content {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer__content-copyright {
    grid-column: 1/-1;
  }
}

#homepage-welcome {
  padding: 15rem 0 5rem 0;
}
#homepage-welcome .imageComponent {
  margin: 7rem 0 2rem 0;
}
@media only screen and (min-width: 1024px) {
  #homepage-welcome .imageComponent {
    margin: 9rem 0 6rem 0;
  }
}

#homepage-benefits .textComponent {
  margin-bottom: 3rem;
}
@media only screen and (min-width: 1024px) {
  #homepage-benefits .textComponent {
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  #homepage-benefits {
    margin: 0 0 4rem 0;
  }
}

#homepage-price {
  padding: 7rem 0;
}
#homepage-price .imageComponent {
  margin: 7rem 0 2rem 0;
}
@media only screen and (min-width: 1024px) {
  #homepage-price .imageComponent {
    margin: 9rem 0 4rem 0;
  }
}

#homepage-steps .textComponent {
  margin-bottom: 3rem;
}
@media only screen and (min-width: 1024px) {
  #homepage-steps .textComponent {
    margin-bottom: 4rem;
  }
}
#homepage-steps .ctaCard {
  margin-top: 3rem;
}

#homepage-designs {
  padding: 7rem 0;
}
#homepage-designs .textComponent {
  margin-bottom: 3rem;
}
@media only screen and (min-width: 1024px) {
  #homepage-designs .textComponent {
    margin: 0rem 0 4rem 0;
  }
}
#homepage-designs .ctaCard {
  margin-top: 3rem;
}
@media only screen and (min-width: 1024px) {
  #homepage-designs {
    margin: 4rem 0 0rem 0;
    padding-bottom: 0rem;
  }
}

#homepage-requestInfo {
  padding: 7rem 0;
}
@media only screen and (min-width: 1024px) {
  #homepage-requestInfo {
    margin: 4rem 0 4rem 0;
  }
}

#price-welcome {
  padding: 15rem 0 5rem 0;
}
#price-welcome .welcomeComponent__subheading {
  margin: 1.5rem 0 0 0;
}
@media only screen and (min-width: 1024px) {
  #price-welcome {
    margin: 0 0 4rem 0;
  }
}

.pricingContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem 0 4rem 0;
}
.pricingContact__text {
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .pricingContact {
    margin: 9rem 0;
  }
}

#price-options {
  padding: 4rem 0;
}
@media only screen and (min-width: 1024px) {
  #price-options {
    margin: 5rem 0 5rem 0;
  }
}

.header {
  background-color: #f6f6f6;
  position: fixed;
  z-index: 20;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.header__content {
  grid-column: 2/3;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
}
.header__navigation {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__navigation-link {
  color: #000;
  font-size: 1.6rem;
  margin-right: 3rem;
  position: relative;
}
.header__navigation-link:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 1024px) {
  .header__navigation-link:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 0;
    background: #4c23c2;
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }
  .header__navigation-link:hover:after {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}
.header__burger span {
  display: block;
  width: 3.5rem;
  height: 3px;
  background-color: #000;
  border-radius: 100px;
  margin-bottom: 5px;
}
.header__burger span:last-child {
  margin-bottom: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 21;
  background-color: #fff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  padding: 2.5rem 2rem;
  overflow: hidden;
}
.sidebar__close {
  opacity: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}
.sidebar__close img {
  width: 3rem;
}
.sidebar .sidebarNavigation {
  margin-top: 8rem;
}
.sidebar .sidebarNavigation__item {
  margin-bottom: 2rem;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
}
.sidebar .sidebarNavigation__link {
  font-size: 2.5rem;
  color: #000;
  font-weight: 400;
}

.welcomeComponent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.welcomeComponent__heading {
  font-size: 3rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 1024px) {
  .welcomeComponent__heading {
    font-size: 5rem;
    line-height: 6rem;
    margin-bottom: 3rem;
  }
}
.welcomeComponent__subheading {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1024px) {
  .welcomeComponent__subheading {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
.welcomeComponent__text {
  font-size: 1.6rem;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .welcomeComponent__text {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
.welcomeComponent__cta {
  margin-top: 2rem;
}
@media only screen and (min-width: 1024px) {
  .welcomeComponent__cta {
    margin-top: 3rem;
  }
}

.textComponent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.textComponent__heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1024px) {
  .textComponent__heading {
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }
}
.textComponent__text {
  font-size: 1.6rem;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .textComponent__text {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
.textComponent__cta {
  margin-top: 2rem;
}

.button {
  width: 20rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.button-full {
  background: -webkit-gradient(linear, left top, right top, from(#4c23c2), to(#6146c2));
  background: -o-linear-gradient(left, #4c23c2, #6146c2);
  background: linear-gradient(to right, #4c23c2, #6146c2);
  -webkit-box-shadow: 0px 5px 10px rgba(76, 35, 194, 0.5);
          box-shadow: 0px 5px 10px rgba(76, 35, 194, 0.5);
  color: #fff;
}
.button-full:hover {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0px 3px 7px rgba(76, 35, 194, 0.7);
          box-shadow: 0px 3px 7px rgba(76, 35, 194, 0.7);
}

.button-border {
  background-color: #fff;
  border: 1px solid #000;
}

.button-underline {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  border-bottom: 1px solid #4c23c2;
}

.benefitsContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-row-gap: 2rem;
}
@media only screen and (min-width: 1024px) {
  .benefitsContainer {
    grid-template-columns: -webkit-max-content -webkit-max-content;
    grid-template-columns: max-content max-content;
    grid-gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.stepsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  justify-items: center;
}
@media only screen and (min-width: 700px) {
  .stepsContainer {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stepsContainer .card:nth-child(3) {
    grid-column: 1/3;
  }
}
@media only screen and (min-width: 1024px) {
  .stepsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .stepsContainer .card:nth-child(3) {
    grid-column: 3/4;
  }
}

.card {
  width: 100%;
  min-height: 30rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 2rem;
  border-radius: 20px;
}
@media only screen and (min-width: 450px) {
  .card {
    max-width: 40rem;
  }
}
.card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.card__image img {
  width: 4rem;
}
.card__title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1024px) {
  .card__title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }
}
.card__description {
  font-size: 1.6rem;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .card__description {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

.card-dark {
  -webkit-box-shadow: 0px 5px 12px rgba(76, 35, 194, 0.6);
          box-shadow: 0px 5px 12px rgba(76, 35, 194, 0.6);
  background: -webkit-gradient(linear, left top, right bottom, from(#4c23c2), to(#6146c2));
  background: -o-linear-gradient(top left, #4c23c2, #6146c2);
  background: linear-gradient(to bottom right, #4c23c2, #6146c2);
}

.card-light {
  -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}
.card-light .card__image {
  -webkit-box-shadow: 0px 5px 10px rgba(76, 35, 194, 0.5);
          box-shadow: 0px 5px 10px rgba(76, 35, 194, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(#4c23c2), to(#6146c2));
  background: -o-linear-gradient(left, #4c23c2, #6146c2);
  background: linear-gradient(to right, #4c23c2, #6146c2);
}

.imageComponent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.imageComponent img {
  width: 30rem;
  height: auto;
}
@media only screen and (min-width: 700px) {
  .imageComponent img {
    width: 50rem;
  }
}
@media only screen and (min-width: 1024px) {
  .imageComponent img {
    width: 60rem;
  }
}
@media only screen and (min-width: 1300px) {
  .imageComponent img {
    width: 80rem;
  }
}

.ctaCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ctaCard__text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1024px) {
  .ctaCard__text {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }
}

.designsContainer {
  display: grid;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 700px) {
  .designsContainer {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
}
@media only screen and (min-width: 1150px) {
  .designsContainer {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}

.designCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}
.designCard img {
  width: 30rem;
  height: auto;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
@media only screen and (min-width: 1024px) {
  .designCard img {
    width: 40rem;
  }
}
@media only screen and (min-width: 1150px) {
  .designCard img {
    width: 30rem;
  }
}
@media only screen and (min-width: 1300px) {
  .designCard img {
    width: 30rem;
  }
}
.designCard img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

#fullImg {
  position: relative;
}
#fullImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #f6f6f6), to(transparent));
  background: -o-linear-gradient(top, #f6f6f6 10%, transparent 100%);
  background: linear-gradient(to bottom, #f6f6f6 10%, transparent 100%);
}
#fullImg img {
  width: 100%;
}

#footerContainer {
  background-color: #000;
}

.footer {
  padding: 4rem 0 2rem 0;
}
.footer__content > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__content p {
  font-size: 1.6rem;
  color: #fff;
  padding: 0.2rem 0 0.2rem 0;
}
.footer__content h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  border-bottom: solid 1px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 1rem;
}
.footer__content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 0.5rem;
}
.footer__content a:last-child {
  margin-bottom: 0;
}
.footer__content-basicInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__content-basicInfo img {
  width: 3rem;
}
.footer__content-basicInfo .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__content-basicInfo .socialMedia a {
  margin-right: 1.5rem;
  display: block;
}
.footer__content-basicInfo .socialMedia a:last-child {
  margin-right: 0;
}
.footer__content-basicInfo .footerEmail {
  margin-bottom: 1rem;
}
.footer__content-moreInfo, .footer__content-ourPackages {
  margin-top: 2rem;
}
@media only screen and (min-width: 800px) {
  .footer__content-moreInfo, .footer__content-ourPackages {
    margin-top: 0;
  }
}
.footer__content-copyright {
  margin-top: 2rem;
}
.footer__content-copyright p {
  font-size: 1.2rem;
}

.pricingCardsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
}
@media only screen and (min-width: 770px) {
  .pricingCardsContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
}

.pricingCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 1024px) {
  .pricingCard:nth-child(2) {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  }
}
.pricingCard__title {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.pricingCard__price {
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
.pricingCard__features {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 1rem;
}
.pricingCard__feature {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 1rem;
}

.pricingCardsContainer {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
  .pricingContact__text {
    font-size: 1.8rem;
  }
}

.optionsContainer {
  margin-top: 4rem;
}

.optionsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  margin-bottom: 2rem;
  max-width: 60rem;
}
.optionsItem__heading {
  border: 1px solid #4c23c2;
  padding: 2rem;
  border-radius: 10px;
}
.optionsItem__heading h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
.optionsItem__body {
  width: 100%;
  opacity: 0;
  display: none;
  max-height: 0;
  padding: 1rem;
}

/*# sourceMappingURL=/main.css.map */