@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald:wght@400;500;700&display=swap");
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f6f6f6;
  position: relative;
  width: 100vw;
  height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}
a:focus {
  outline: none;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 4rem;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 2.2rem;
}

.container {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(-webkit-min-content, 1520px) minmax(20px, 1fr);
  grid-template-columns: minmax(20px, 1fr) minmax(min-content, 1520px) minmax(20px, 1fr);
}
.container__content {
  grid-column: 2/3;
}

.header {
  background-color: #f6f6f6;
  position: fixed;
  display: grid;
  grid-template-columns: minmax(30px, 1fr) minmax(-webkit-min-content, 1520px) minmax(30px, 1fr);
  grid-template-columns: minmax(30px, 1fr) minmax(min-content, 1520px) minmax(30px, 1fr);
}
.header__content {
  grid-column: 2/3;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
}
.header__burger span {
  display: block;
  width: 3.5rem;
  height: 3px;
  background-color: #000;
  border-radius: 100px;
  margin-bottom: 5px;
}
.header__burger span:last-child {
  margin-bottom: 0;
}

.welcomeCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15rem 0 5rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.welcomeCard__heading {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.welcomeCard__subheading {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.welcomeCard__text {
  font-size: 1.6rem;
  text-align: center;
}
.welcomeCard__cta {
  margin-top: 2rem;
}

.button {
  width: 20rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.button-full {
  background: -webkit-gradient(linear, left top, right top, from(#4c23c2), to(#6146c2));
  background: -o-linear-gradient(left, #4c23c2, #6146c2);
  background: linear-gradient(to right, #4c23c2, #6146c2);
  -webkit-box-shadow: 0px 5px 10px rgba(76, 35, 194, 0.5);
          box-shadow: 0px 5px 10px rgba(76, 35, 194, 0.5);
  color: #fff;
}
.button-full:hover {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0px 3px 7px rgba(76, 35, 194, 0.7);
          box-shadow: 0px 3px 7px rgba(76, 35, 194, 0.7);
}

.button-border {
  background-color: #fff;
  border: 1px solid #000;
}

.button-underline {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  border-bottom: 1px solid #4c23c2;
}

.textCard {
  padding: 10rem 0 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.textCard__heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.textCard__text {
  font-size: 1.6rem;
  text-align: center;
}
.textCard__cta {
  margin-top: 2rem;
}

.stepCard {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 2rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
}
.stepCard__title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.stepCard__description {
  font-size: 1.6rem;
  text-align: center;
}
.stepCard__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 5px 10px rgba(76, 35, 194, 0.5);
          box-shadow: 0px 5px 10px rgba(76, 35, 194, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(#4c23c2), to(#6146c2));
  background: -o-linear-gradient(left, #4c23c2, #6146c2);
  background: linear-gradient(to right, #4c23c2, #6146c2);
}
.stepCard__image img {
  width: 4rem;
}

.imageContainer {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.imageContainer img {
  width: 30rem;
  height: 16.5rem;
}

.ctaCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0;
}
.ctaCard__text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

#homepage-designs .textCard {
  padding-top: 5rem;
}

.designsContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.designCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}
.designCard img {
  width: 30rem;
  height: 16.5rem;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.designCard img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
}

#fullImg {
  position: relative;
}
#fullImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #f6f6f6), to(transparent));
  background: -o-linear-gradient(top, #f6f6f6 10%, transparent 100%);
  background: linear-gradient(to bottom, #f6f6f6 10%, transparent 100%);
}
#fullImg img {
  width: 100%;
}

/*# sourceMappingURL=/main.css.map */