@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald:wght@400;500;700&display=swap");
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f6f6f6;
  position: relative;
  width: 100vw;
  height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}
a:focus {
  outline: none;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 4rem;
  max-width: 50rem;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
  max-width: 40rem;
}

a {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.container,
.header {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(-webkit-min-content, 1520px) minmax(20px, 1fr);
  grid-template-columns: minmax(20px, 1fr) minmax(min-content, 1520px) minmax(20px, 1fr);
}
@media only screen and (min-width: 475px) {
  .container,
.header {
    grid-template-columns: minmax(30px, 1fr) minmax(-webkit-min-content, 1520px) minmax(30px, 1fr);
    grid-template-columns: minmax(30px, 1fr) minmax(min-content, 1520px) minmax(30px, 1fr);
  }
}
@media only screen and (min-width: 700px) {
  .container,
.header {
    grid-template-columns: minmax(50px, 1fr) minmax(-webkit-min-content, 1520px) minmax(50px, 1fr);
    grid-template-columns: minmax(50px, 1fr) minmax(min-content, 1520px) minmax(50px, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  .container,
.header {
    grid-template-columns: minmax(70px, 1fr) minmax(-webkit-min-content, 1520px) minmax(70px, 1fr);
    grid-template-columns: minmax(70px, 1fr) minmax(min-content, 1520px) minmax(70px, 1fr);
  }
}
@media only screen and (min-width: 1250px) {
  .container,
.header {
    grid-template-columns: minmax(130px, 1fr) minmax(-webkit-min-content, 1520px) minmax(130px, 1fr);
    grid-template-columns: minmax(130px, 1fr) minmax(min-content, 1520px) minmax(130px, 1fr);
  }
}
.container__content,
.header__content {
  grid-column: 2/3;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 800px) {
  .footer__content {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer__content-copyright {
    grid-column: 1/-1;
  }
}

.header {
  background-color: #f6f6f6;
  position: fixed;
}
.header__content {
  grid-column: 2/3;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
}
.header__navigation {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__navigation-link {
  color: #000;
  font-size: 1.6rem;
  margin-right: 3rem;
}
.header__navigation-link:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}
.header__burger span {
  display: block;
  width: 3.5rem;
  height: 3px;
  background-color: #000;
  border-radius: 100px;
  margin-bottom: 5px;
}
.header__burger span:last-child {
  margin-bottom: 0;
}

#homepage-welcome {
  min-height: 100vh;
}

.welcomeCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15rem 0 5rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.welcomeCard__heading {
  font-size: 3rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 1024px) {
  .welcomeCard__heading {
    font-size: 5rem;
    line-height: 6rem;
    margin-bottom: 3rem;
  }
}
.welcomeCard__subheading {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1024px) {
  .welcomeCard__subheading {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
.welcomeCard__text {
  font-size: 1.6rem;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .welcomeCard__text {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
.welcomeCard__cta {
  margin-top: 2rem;
}
@media only screen and (min-width: 1024px) {
  .welcomeCard__cta {
    margin-top: 3rem;
  }
}

.button {
  width: 20rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.button-full {
  background: -webkit-gradient(linear, left top, right top, from(#4c23c2), to(#6146c2));
  background: -o-linear-gradient(left, #4c23c2, #6146c2);
  background: linear-gradient(to right, #4c23c2, #6146c2);
  -webkit-box-shadow: 0px 5px 10px rgba(76, 35, 194, 0.5);
          box-shadow: 0px 5px 10px rgba(76, 35, 194, 0.5);
  color: #fff;
}
.button-full:hover {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0px 3px 7px rgba(76, 35, 194, 0.7);
          box-shadow: 0px 3px 7px rgba(76, 35, 194, 0.7);
}

.button-border {
  background-color: #fff;
  border: 1px solid #000;
}

.button-underline {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  border-bottom: 1px solid #4c23c2;
}

.textCard {
  padding: 10rem 0 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.textCard__heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1024px) {
  .textCard__heading {
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }
}
.textCard__text {
  font-size: 1.6rem;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .textCard__text {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
.textCard__cta {
  margin-top: 2rem;
}

.stepCard {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 2rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
}
.stepCard__title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1024px) {
  .stepCard__title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }
}
.stepCard__description {
  font-size: 1.6rem;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .stepCard__description {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
.stepCard__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 5px 10px rgba(76, 35, 194, 0.5);
          box-shadow: 0px 5px 10px rgba(76, 35, 194, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(#4c23c2), to(#6146c2));
  background: -o-linear-gradient(left, #4c23c2, #6146c2);
  background: linear-gradient(to right, #4c23c2, #6146c2);
}
.stepCard__image img {
  width: 4rem;
}
.stepCard-width-1 {
  max-width: 46rem;
}

.imageContainer {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.imageContainer img {
  width: 30rem;
  height: auto;
}
@media only screen and (min-width: 700px) {
  .imageContainer img {
    width: 50rem;
  }
}
@media only screen and (min-width: 1024px) {
  .imageContainer img {
    width: 60rem;
  }
}
@media only screen and (min-width: 1300px) {
  .imageContainer img {
    width: 80rem;
  }
}

.ctaCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0;
}
.ctaCard__text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1024px) {
  .ctaCard__text {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }
}

#homepage-stepsCta {
  margin-top: 0;
}

#homepage-designs .textCard {
  padding-top: 5rem;
}

.designsContainer {
  display: grid;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 700px) {
  .designsContainer {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
}
@media only screen and (min-width: 1150px) {
  .designsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.designCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}
.designCard img {
  width: 30rem;
  height: auto;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
@media only screen and (min-width: 1024px) {
  .designCard img {
    width: 40rem;
  }
}
@media only screen and (min-width: 1150px) {
  .designCard img {
    width: 30rem;
  }
}
@media only screen and (min-width: 1300px) {
  .designCard img {
    width: 35rem;
  }
}
.designCard img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 700px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
  }
}
@media only screen and (min-width: 1150px) {
  .cardContainer-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .cardContainer-2 {
    grid-template-columns: 1fr -webkit-max-content -webkit-max-content 1fr;
    grid-template-columns: 1fr max-content max-content 1fr;
  }
}
.cardContainer-2 .stepCard:nth-child(1) {
  grid-column: 2/3;
}
.cardContainer-2 .stepCard:nth-child(2) {
  grid-column: 3/4;
}
.cardContainer-2 .stepCard:nth-child(3) {
  grid-column: 2/3;
}
.cardContainer-2 .stepCard:nth-child(4) {
  grid-column: 3/4;
}

#fullImg {
  position: relative;
}
#fullImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #f6f6f6), to(transparent));
  background: -o-linear-gradient(top, #f6f6f6 10%, transparent 100%);
  background: linear-gradient(to bottom, #f6f6f6 10%, transparent 100%);
}
#fullImg img {
  width: 100%;
}

#footerContainer {
  background-color: #000;
  margin-top: 7rem;
}

.footer {
  padding: 2rem 0;
}
.footer__content > * {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__content p {
  font-size: 1.6rem;
  color: #fff;
  padding: 0.2rem 0 0.2rem 0;
}
.footer__content h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  border-bottom: solid 1px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 1rem;
}
.footer__content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 0.5rem;
}
.footer__content a:last-child {
  margin-bottom: 0;
}
.footer__content-basicInfo img {
  width: 3rem;
}
.footer__content-basicInfo .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__content-basicInfo .socialMedia a {
  margin-top: 0.5rem;
  margin-right: 1.5rem;
}
.footer__content-basicInfo .socialMedia a:last-child {
  margin-right: 0;
}
.footer__content-basicInfo--logo {
  margin: 2rem;
}
.footer__content-basicInfo .footerEmail {
  margin-bottom: 1rem;
}
.footer__content-copyright p {
  font-size: 1rem;
}

/*# sourceMappingURL=/main.css.map */