#footerContainer {
	background-color: $color-primary;
	margin-top: 7rem;
}

.footer {
	padding: 2rem 0;

	&__content {
		& > * {
			padding: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		p {
			font-size: $font-size-small;
			color: $color-secondary;
			padding: 0.2rem 0 0.2rem 0;
		}

		h2 {
			font-size: $font-size-large;
			font-weight: $font-weight-normal;
			color: $color-secondary;
			border-bottom: solid 1px;
			width: max-content;
			margin-bottom: 1rem;
		}

		a {
			display: flex;
			align-items: center;
			width: max-content;
			margin-bottom: 0.5rem;
			&:last-child {
				margin-bottom: 0;
			}
		}

		&-basicInfo {
			img {
				width: 3rem;
			}

			.socialMedia {
				display: flex;
				a {
					margin-top: 0.5rem;
					margin-right: 1.5rem;

					&:last-child {
						margin-right: 0;
					}
				}
			}

			&--logo {
				margin: 2rem;
			}

			.footerEmail {
				margin-bottom: 1rem;
			}
		}

		&-copyright {
			p {
				font-size: 1rem;
			}
		}
	}
}
