#footerContainer {
	background-color: $color-primary;
}

.footer {
	padding: 4rem 0 2rem 0;

	&__content {
		& > * {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		p {
			font-size: $font-size-small;
			color: $color-secondary;
			padding: 0.2rem 0 0.2rem 0;
		}

		h2 {
			font-size: $font-size-large;
			font-weight: $font-weight-normal;
			color: $color-secondary;
			border-bottom: solid 1px;
			width: max-content;
			margin-bottom: 1rem;
		}

		a {
			display: flex;
			align-items: center;
			width: max-content;
			margin-bottom: 0.5rem;
			&:last-child {
				margin-bottom: 0;
			}
		}

		&-basicInfo {
			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				width: 3rem;
			}

			.socialMedia {
				display: flex;
				a {
					margin-right: 1.5rem;
					display: block;

					&:last-child {
						margin-right: 0;
					}
				}
			}

			.footerEmail {
				margin-bottom: 1rem;
			}
		}

		&-moreInfo,
		&-ourPackages {
			margin-top: 2rem;

			@media only screen and (min-width: 800px) {
				margin-top: 0;
			}
		}

		&-copyright {
			margin-top: 2rem;
			p {
				font-size: 1.2rem;
			}
		}
	}
}
