.header {
	background-color: $color-tertiary;
	position: fixed;
	z-index: $header-z-index;
	box-shadow: 0px 3px 15px rgba(#000000, 0.2);

	// ********
	// Header content
	// ********

	&__content {
		grid-column: 2 / 3;
		height: 8rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		font-family: $font-family-primary;
		font-size: 1.8rem;
		display: flex;
		align-items: center;
		color: $font-color-primary;

		&-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 5rem;
			height: 5rem;
			color: $font-color-secondary;
			border-radius: 100%;
			margin-right: 1rem;
			background: linear-gradient(
				to bottom right,
				$color-button-one,
				$color-button-two
			);
			box-shadow: 0px 5px 10px rgba($color-button-one, 0.5);
		}
	}

	&__navigation {
		display: none;

		@media only screen and (min-width: 1024px) {
			display: flex;
		}

		&-link {
			color: $font-color-primary;
			font-size: $font-size-small;
			margin-right: 3rem;
			position: relative;

			&:last-child {
				margin-right: 0;
			}

			@media only screen and (min-width: 1024px) {
				&:after {
					content: '';
					position: absolute;
					bottom: -3px;
					left: 0;
					height: 2px;
					width: 0;
					background: $color-button-one;
					transition: width 0.3s ease 0s, left 0.3s ease 0s;
				}
				&:hover:after {
					width: 100%;
				}
			}
		}
	}

	&__burger {
		@media only screen and (min-width: 1024px) {
			display: none;
		}
		span {
			display: block;
			width: 3.5rem;
			height: 3px;
			background-color: $color-primary;
			border-radius: 100px;
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
