.stepCard {
	background-color: $color-secondary;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4rem 2rem;
	border-radius: 20px;
	box-shadow: 0px 3px 15px rgba(#000000, 0.2);
	margin-bottom: 3rem;

	&__title {
		font-size: $font-size-normal;
		font-weight: $font-weight-normal;
		margin-bottom: 1rem;

		@media only screen and (min-width: 1024px) {
			font-size: 2rem;
			line-height: 2.5rem;
			margin-bottom: 2rem;
		}
	}
	&__description {
		font-size: $font-size-small;
		text-align: center;

		@media only screen and (min-width: 1024px) {
			font-size: 1.8rem;
			line-height: 2.5rem;
		}
	}

	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5rem;
		border-radius: 50%;
		margin-bottom: 2rem;
		box-shadow: 0px 5px 10px rgba($color-button-one, 0.5);
		background: linear-gradient(to right, $color-button-one, $color-button-two);
		img {
			width: 4rem;
		}
	}
}
