@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald:wght@400;500;700&display=swap');

$font-family-primary: 'Oswald', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;

// Heading styles
h1,
h2 {
	font-family: $font-family-primary;
	font-weight: $font-weight-bold;
	text-align: center;
	line-height: 4rem;
	max-width: 50rem;
}

h3 {
	font-family: $font-family-secondary;
	font-weight: $font-weight-semiBold;
}

p {
	font-family: $font-family-secondary;
	font-weight: $font-weight-light;
	font-size: $font-size-small;
	line-height: 2.2rem;
	// max-width: 45rem;
}

a {
	font-family: $font-family-primary;
	font-weight: $font-weight-light;
}
