@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald:wght@400;500;700&display=swap');

$font-family-primary: 'Oswald', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;

// Heading styles
h1,
h2,
a {
	font-family: $font-family-primary;
}

p {
	font-family: $font-family-secondary;
}
