// colors
$color-primary: #000;
$color-secondary: #fff;
$color-tertiary: #f6f6f6;
$color-button-one: #4c23c2;
$color-button-two: #6146c2;

// font colors
$font-color-primary: #000;
$font-color-secondary: #fff;
$font-color-tertiary: #f6f6f6;

// font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semiBold: 500;
$font-weight-bold: 700;

// font size
$font-size-small: 1.6rem;
$font-size-normal: 1.8rem;
$font-size-large: 2rem;
$font-size-big: 3rem;

// z index
$header-z-index: 20;
$sidebar-z-index: 21;
